<h1>投稿一覧</h1>
<% @lists.each do |list| %>
  <p>Title</p>
  <%= link_to list_path(list) do %>
    <%= list.title %>
  <% end %>
  <p>Image</p>
  <% if list.image.attached? %>
    <%= image_tag list.image, size: "50x50" %>
  <% else %>
    <%= image_tag 'no_image',size: "50x50" %>
  <% end %>
<% end %>
